$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$size-not-found: 120px;
$size-title: 28px;
$size-large: 18px;
$size-semi-title: 16px;
$size-regular: 14px;
$size-mid: 13px;
$size-sub: 12px;

$weight-normal: 400;
$weight-bold: 500;
$weight-extra-bold: 700;

$height-regular: 14px;
$height-semi-large: 15px;
$height-large: 16px;
$height-largest: 21px;
$height-title: 33px;